table#java th {
	width:120px;
}
table#java td.source {
	white-space:pre-wrap;
	height: 50px;
}
table#java td.contents,
table#java td.results {
	white-space:pre-wrap;
	height: 150px;
}

table#java td.contents2 {
	height: 150px;
	display:none;
}

table#java_history {
	margin-top:10px;
}

table#java_history td.update_date, 
table#java_history th.update_date {
	width:200px;
	text-align:center;
}

ul.multitab, 
h3.java, 
h3.java_history,
h3.java_child {
	display:none;
}
table#java_history th.source,
table#java_history th.results,
table#java_history th.contents,
table#java_history th.marked,
table#java_history th.encrypted,
table#java_history th.encrypted_title,
table#java_history th.java_history_id,
table#java_history th.contents2,
table#java_history td.marked,
table#java_history td.encrypted,
table#java_history td.encrypted_title,
table#java_history td.java_history_id,
table#java_history td.contents2
{
	display:none;
}

table#java_history td.contents,
table#java_history td.results
{
	white-space:pre-wrap;
	height: 150px;
	display:none;
}
table#java_history td.source
{
	white-space:pre-wrap;
	height: 50px;
	display:none;
}
table#java_history th {
	background-color:#84898C;
	padding:3px;
}
table#java_history td {
	border-bottom:#84898C 1px solid;
	padding:3px;
}
table#java_history td table td {
	border:0px;
	padding:3px;
}
table#java_history {
	border-top:#84898C 2px solid;
	border-bottom:#84898C 1px solid;
}

/*
A5B8D0
*/

table#java_child {
	margin-top:10px;
}

table#java_child td.update_date, 
table#java_child th.update_date {
	width:200px;
	text-align:center;
}
@media only screen and (max-width: 600px) {
	table#java_child td.update_date, 
	table#java_child th.update_date {
		display:none;
	}
	table#java_history td.update_date, 
	table#java_history th.update_date {
		display:none;
	}
	table#java th {
		display:none;
	}
	
	table#java td.update_date,
	table#java td.insert_date
	{
		display:block;
	}
	
	table#java td.update_date:after {
		content: " U";
	}
	table#java td.insert_date:after {
		content: " I";
	}
}

table#java_child th.encrypted_title,
table#java_child td.encrypted_title,
table#java_child th.encrypted,
table#java_child td.encrypted {
	display:none;
}

table#java td.title i.security,
table#java_history td.title i.security,
table#java_child td.title i.security
{
	vertical-align: middle;
	margin-right:5px;
	
}

table#java_history td.title i.history,
table#java_history td.title i.delete_forever {
	float:right;
	margin-right:5px;
	cursor:pointer;
	vertical-align: middle;
}

div#diff {
	background-color: rgba(0, 0, 0, 0.7);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:1;
	padding:0px;
	margin:0px;
}
div#diff i.close {
	float:right;
	z-index:-1;
	cursor:pointer;
	padding-top:15px;
	padding-right:15px;
}
div#diff pre#display {
	float:left;
	margin:0px;
	padding:15px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	line-height:2em;
	border:none;
	color:#000;
	background-color:#FFFFFF;
	opacity: 1.0;
	z-index:-1;
	overflow-y: scroll;
}
div#diff pre#display span {
	display:block;
}

.hljs-ln-line.hljs-ln-code {
	padding-left:10px;
}
/*
td.contents2 h4, 
td.contents2 ul, 
td.contents2 ul li
{
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
}
*/